<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <hr>
        <p>Use this weather forecast finder to locate current weather forecasts for cities and smaller places worldwide.</p><br>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p><span id="message-1"></span><span id="message-3" style="font-weight:bold"></span></p><br>

        <table name="tableinfo" cellspacing="0" cellpadding="3" border="0" width="100%">
            <tr>
                <td align="center" width="20%"">
                    <div id="weathericon"></div>
                </td>
                <td>
                    <p id="message-2"></p>
                </td>
            </tr>
        </table>

        
        
    </div>

    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>